#details {
  width: var(--container-width-large);
  margin: auto;
  margin-top: 1rem;
  padding-top: 2rem;
}

.details__desctiption-container {
  display: flex;
}

.details__desctiption-image {
  width: 30rem;
}

.details__desctiption-text {
  margin: 0 1rem;
}

.details__desctiption-title {
  background-color: var(--color-primary);
  padding: 0.2rem 0.5rem;
  width: 100%;
  margin: 1rem 0;
  margin-top: 0;
}

.details__gallery-container {
  margin-top: 2rem;
}

.details__gallery-title {
  background-color: var(--color-primary);
  padding: 0.2rem 0.5rem;
  width: 30rem;
  margin: 1rem 0;
}

.details__gallery-images {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
}

.details__gallery-item {
  max-width: 20rem;
}

@media screen and (max-width: 600px) {
  .details__desctiption-container{
    flex-direction: column;
  }

  .details__desctiption-image{
    width: 100%;
  }

  .details__desctiption-text{
    margin: 1rem 0;
  }

  .details__gallery-title{
    width: 100%;
  }
}
